.DS_Store
*/CACHE/*
static
build/*
*.pyc
*.pyo
*.so
*~
*.db
local_settings.py
*.jpg.*
*.tmproj
*.sqlite
media/*
env/*
logs/*
tmp/*
.cache

*.sqlite3
db.*
projects/logs/*

# IDE Setting
.vscode/*
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# addons xyacad
addons/*
!addons/__init__.py
!addons/urls.py
