{% extends 'includes/sidebar.html' %}
{% load static %}

{% block inter_sidebar_menu %}
    <li class="sidebar-title">Data Siswa</li>
    <li class="sidebar-item {% if active_menu == 'siswa' %} active {% endif %}">
        <a href="{% url 'siswa:siswa_list' %}" class='sidebar-link'>
            <i class="fa fa-id-card"></i>
            <span>Siswa</span>
        </a>
    </li>
    <li class="sidebar-item {% if active_menu == 'siswakelas' %} active {% endif %}">
        <a href="{% url 'siswa:siswakelas_list' %}" class='sidebar-link'>
            <i class="fa fa-door-open"></i>
            <span>Siswa Kelas</span>
        </a>
    </li>
{% endblock %}