{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/pages/datatables.css' %}">
{% endblock %}
{% block title %}
    {{ title_page }}
{% endblock %}

{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-3">
                <div class="col-12 col-md-6 order-md-1 order-first">
                    <h3>{{ title_page }}</h3>
                    <p class="text-subtitle text-muted">{{ sub_title_page }}</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-last">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <a href="{% url 'sekolah:create' %}" class="btn btn-primary rounded-pill"><i class="fa fa-plus-circle"></i> Tambah</a>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card">
                <div class="card-header">
                    {{ title_page }}
                </div>
                <div class="card-body">
                    <div id="table1_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <table class="table dataTable no-footer" id="table1" aria-describedby="table1_info">
                                    <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="table1" rowspan="1">
                                            Nama
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Kecamatan
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Kabupaten
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Provinsi
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Aksi
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for sekolah in object_list %}
                                        <tr class="odd">
                                            <td class="sorting_1">{{ sekolah.nama }}</td>
                                            <td>{{ sekolah.kecamatan }}</td>
                                            <td>{{ sekolah.kabupaten }}</td>
                                            <td>{{ sekolah.provinsi }}</td>
                                            <td>
                                                <span class="badge bg-success">Active</span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

        </section>
        <!-- Basic Tables end -->
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/extensions/datatables.js' %}"></script>
{% endblock %}