{% extends "base.html" %}

{% block title %}
    {{ title_page }}
{% endblock %}

{% block sidebar_menu %}
    {% include 'akademik/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>{{ title_page }}</h3>
                <p class="text-subtitle text-muted">{{ sub_title_page }}</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'includes/form_filter.html' with form=form_filter title_form='Form Filter'%}
        </div>
    </div>

    {% if jadwal %}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Data Jadwal untuk Sekolah {{ sekolah }}, Tahun Ajaran {{ tahun_ajaran }}</h4>
                </div>
                <div class="card-body">
                    <h6>Kelas: {{ kelas }}</h6>
                    <h6>Jurusan: {{ kelas.jurusan }}</h6>

                    <div class="table-responsive mt-5">
                        <table class="table table-bordered">
                            <thead class="bg-light-secondary">
                                <tr>
                                    {% for k, v in jadwal.items %}
                                        <th>{{ k.title }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for k, v in jadwal.items %}
                                        <td>
                                            {% for j in v %}
                                                <div class="card">
                                                    <div class="card-body shadow-sm mb-4 bg-light-primary rounded">
                                                        <i class="fa fa-clock"></i> {{ j.jam_mulai }} - {{ j.jam_akhir }}<br>
                                                        <i class="fa fa-home"></i> {{ j.ruangan.nama }}<br>
                                                        <i class="fa fa-book-open"></i> {{ j.mata_pelajaran.nama }}<br>
                                                        <i class="fa fa-user"></i> {{ j.guru }}<br>
                                                        <a href="{% url 'siswa:siswa_presensi' j.id %}" class="btn btn-primary btn-sm mt-1">Presensi</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Pilih sekolah dan tahun ajaran untuk melihat jadwal</h4>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}