{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/pages/datatables.css' %}">
{% endblock %}

{% block sidebar_menu %}
    {% include 'pegawai/sidebar.html' %}
{% endblock %}

{% block title %}
    {{ title_page }}
{% endblock %}

{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-3">
                <div class="col-12 col-md-6 order-md-1 order-first">
                    <h3>{{ title_page }}</h3>
                    <p class="text-subtitle text-muted">{{ sub_title_page }}</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-last">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <div class="dropdown">
                            {% if presensi_aktif %}
                                <a href="{% url 'pegawai:presensi_nonaktif' %}" class="btn btn-danger me-1">
                                    <i class="fa fa-key"></i> Nonaktifkan Presensi
                                </a>
                            {% else %}
                                <a href="{% url 'pegawai:presensi_aktifkan' %}" class="btn btn-primary me-1">
                                    <i class="fa fa-key"></i> Aktifkan Presensi
                                </a>
                            {% endif %}
                            <button class="btn btn-primary dropdown-toggle me-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus-circle"></i> Tambah
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                                <a class="dropdown-item" href="{% url 'pegawai:presensi_create' %}"> Hadir</a>
                                <a class="dropdown-item" href="{% url 'pegawai:presensi_sakit_create' %}"> Sakit</a>
                                <a class="dropdown-item" href="{% url 'pegawai:presensi_ijin_create' %}"> Ijin</a>
                                <a class="dropdown-item" href="{% url 'pegawai:presensi_cuti_create' %}"> Cuti</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card">
                <div class="card-header">
                    {{ title_page }}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <div id="table1_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <table class="table dataTable no-footer" id="table1" aria-describedby="table1_info">
                                    <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="table1" rowspan="1">
                                            Nama
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Status
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Waktu
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Ket
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">
                                            Aksi
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in object_list %}
                                        <tr class="odd">
                                            <td class="sorting_1">{{ object.pegawai.nama }}</td>
                                            <td>{{ object.get_status_display }}</td>
                                            <td>
                                                Masuk: {{ object.clockin }}<br>
                                                Keluar: {{ object.clockout }}
                                            </td>
                                            <td>{{ object.ket }}</td>
                                            <td>
                                                <div class="btn-group mb-1">
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu" style="">
                                                            <a class="dropdown-item" href="{% url 'pegawai:presensi_detail' object.id %}"><i class="fa fa-eye"></i> Lihat</a>
                                                            <a class="dropdown-item" href="{% url 'pegawai:presensi_update' object.id %}"><i class="fa fa-edit"></i> Edit</a>
                                                            <button class="dropdown-item text-danger button-delete"
                                                                data-object_name="{{ object.nama }}"
                                                                data-object_delete_url="{% url 'pegawai:presensi_delete' object.id %}">
                                                                <i class="fa fa-trash"></i> Hapus
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Tables end -->
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/extensions/datatables.js' %}"></script>
    {% include 'includes/confirmation_delete_js.html' %}
{% endblock %}