{% extends 'includes/sidebar.html' %}
{% load static %}

{% block inter_sidebar_menu %}
    <li class="sidebar-title">Manajemen Pegawai</li>
    <li class="sidebar-item {% if active_menu == 'masterpegawai' %} active {% endif %} has-sub">
        <a href="#" class="sidebar-link">
            <i class="bi bi-stack"></i>
            <span>Master Pegawai</span>
        </a>
        <ul class="submenu {% if active_menu == 'masterpegawai' %} active {% endif %}">
            <li class="submenu-item">
                <a href="{% url 'pegawai:statuspegawai_list' %}">Status Pegawai</a>
            </li>
            <li class="submenu-item">
                <a href="{% url 'pegawai:jenisptk_list' %}">Jenis PTK</a>
            </li>
            <li class="submenu-item">
                <a href="{% url 'pegawai:golongan_list' %}">Golongan</a>
            </li>
            <li class="submenu-item">
                <a href="{% url 'pegawai:jabatanstruktural_list' %}">Jabatan Struktural</a>
            </li>
            <li class="submenu-item">
                <a href="{% url 'pegawai:jabatanfungsional_list' %}">Jabatan Fungsional</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item {% if active_menu == 'pegawai' %} active {% endif %} has-sub">
        <a href="#" class="sidebar-link">
            <i class="fa fa-user-tie"></i>
            <span>Pegawai</span>
        </a>
        <ul class="submenu {% if active_menu == 'pegawai' %} active {% endif %}">
            <li class="submenu-item">
                <a href="{% url 'pegawai:pegawai_list' %}">Data Pegawai</a>
            </li>
            <li class="submenu-item">
                <a href="{% url 'pegawai:presensi_list' %}">Presensi</a>
            </li>
        </ul>
    </li>
{% endblock %}