{% load static %}
{% block content %}
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
{#                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="">#}
                        Xyacad
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item  {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                        <a href="{% url 'dashboard:home' %}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-title">Master Data</li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-stack"></i>
                            <span>Master Sekolah</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:sekolah_list' %}">Sekolah</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:gedung_list' %}">Gedung</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:ruangan_list' %}">Ruangan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:jurusan_list' %}">Jurusan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:kelas_list' %}">Kelas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-stack"></i>
                            <span>Master Pegawai</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:statuspegawai_list' %}">Status Pegawai</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:jenisptk_list' %}">Jenis PTK</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:golongan_list' %}">Golongan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:jabatanstruktural_list' %}">Jabatan Struktural</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:jabatanfungsional_list' %}">Jabatan Fungsional</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-stack"></i>
                            <span>Master Akademik</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'akademik:tahunakademik_list' %}">Tahun Akademik</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'akademik:kurikulum_list' %}">Kurikulum</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'akademik:kelompokmapel_list' %}">Kelompok MaPel</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'akademik:tingkat_list' %}">Tingkat</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-title">Management</li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-user-tie"></i>
                            <span>Pegawai</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:pegawai_list' %}">Data Pegawai</a>
                            </li>
                            <li class="submenu-item">
                                <a href="#">Presensi</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-id-card"></i>
                            <span>Siswa</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'siswa:siswa_list' %}">Data Siswa</a>
                            </li>
                            <li class="submenu-item">
                                <a href="#">Siswa Kelas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-school"></i>
                            <span>Akademik</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'akademik:matapelajaran_list' %}">Mata Pelajaran</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'akademik:jadwal_list' %}">Jadwal</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-tools"></i>
                            <span>Pengaturan</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="#">...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
{% endblock content %}