{% load static %}
{% block content %}
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
{#                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="">#}
                        Xyacad
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>
                    <li class="sidebar-item  {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                        <a href="{% url 'ui:home' %}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-stack"></i>
                            <span>Master Sekolah</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:list' %}">Identitas Sekolah</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:list_gedung' %}">Gedung</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:list_ruangan' %}">Ruangan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:list_jurusan' %}">Jurusan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'sekolah:list_kelas' %}">Kelas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-stack"></i>
                            <span>Master Pegawai</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:statuspegawai_list' %}">Status Pegawai</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:jenisptk_list' %}">Jenis PTK</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:golongan_list' %}">Golongan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:jabatanstruktural_list' %}">Jabatan Struktural</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:jabatanfungsional_list' %}">Jabatan Fungsional</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-stack"></i>
                            <span>Master Akademik</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'akademik:list_tahun' %}">Tahun Akademik</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'akademik:list_kurikulum' %}">Kurikulum</a>
                            </li>
                            <li class="submenu-item">
                                <a href="{% url 'akademik:list_kelompokmapel' %}">Kelompok MaPel</a>
                            </li>
                            <li class="submenu-item">
                                <a href="#">Tingkat</a>
                            </li>
                            <li class="submenu-item">
                                <a href="#">Mata Pelajaran</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-user-tie"></i>
                            <span>Pegawai</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="{% url 'pegawai:pegawai_list' %}">Data Pegawai</a>
                            </li>
                            <li class="submenu-item">
                                <a href="#">Presensi</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-school"></i>
                            <span>Akademik</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="#">Mata Pelajaran</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="fa fa-tools"></i>
                            <span>Pengaturan</span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="submenu-item">
                                <a href="#">...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
{% endblock content %}