{% extends 'base.html' %}
{% load static %}

{% block sidebar_menu %}
    {% include 'sekolah/sidebar.html' %}
{% endblock %}

{% block title %}
    {{ title_page }}
{% endblock %}

{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-3">
                <div class="col-12 col-md-6 order-md-1 order-first">
                    <h3>{{ title_page }}</h3>
                    <p class="text-subtitle text-muted">{{ sub_title_page }}</p>
                </div>

            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card">
                <div class="card-header">
                    {{ title_page }}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <tbody>
                                <tr>
                                    <td class="text-bold-500">Nama</td>
                                    <td>{{ object.nama }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">NPNS</td>
                                    <td>{{ object.npns|default_if_none:"-" }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">NSS</td>
                                    <td>{{ object.nss|default_if_none:"-" }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Alamat</td>
                                    <td>{{ object.alamat }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Kecamatan</td>
                                    <td>{{ object.kecamatan }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Kabupaten</td>
                                    <td>{{ object.kabupaten }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Provinsi</td>
                                    <td>{{ object.provinsi }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Kode Pos</td>
                                    <td>{{ object.kode_pos }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Email</td>
                                    <td>{{ object.email|default_if_none:"-" }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Telp/WA</td>
                                    <td>{{ object.telp_wa|default_if_none:"-" }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">Aktif</td>
                                    <td>{{ object.aktif }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Tables end -->
    </div>
{% endblock %}
