{% extends 'includes/sidebar.html' %}
{% load static %}

{% block inter_sidebar_menu %}
    <li class="sidebar-title">Data Master Sekolah</li>
    <li class="sidebar-item {% if active_menu == 'sekolah' %} active {% endif %}">
        <a href="{% url 'sekolah:sekolah_list' %}" class='sidebar-link'>
            <i class="fa fa-school"></i>
            <span>Sekolah</span>
        </a>
    </li>
    <li class="sidebar-item {% if active_menu == 'gedung' %} active {% endif %}">
        <a href="{% url 'sekolah:gedung_list' %}" class='sidebar-link'>
            <i class="fa fa-building"></i>
            <span>Gedung</span>
        </a>
    </li>
    <li class="sidebar-item {% if active_menu == 'ruangan' %} active {% endif %}">
        <a href="{% url 'sekolah:ruangan_list' %}" class='sidebar-link'>
            <i class="fa fa-door-open"></i>
            <span>Ruangan</span>
        </a>
    </li>
    <li class="sidebar-item {% if active_menu == 'jurusan' %} active {% endif %}">
        <a href="{% url 'sekolah:jurusan_list' %}" class='sidebar-link'>
            <i class="fa fa-star"></i>
            <span>Jurusan</span>
        </a>
    </li>
    <li class="sidebar-item {% if active_menu == 'kelas' %} active {% endif %}">
        <a href="{% url 'sekolah:kelas_list' %}" class='sidebar-link'>
            <i class="fa fa-flag"></i>
            <span>Kelas</span>
        </a>
    </li>
{% endblock %}